<?xml version="1.0" encoding="utf-8"?>
  <configuration>
      <system.webServer>
          <rewrite>
              <rules>
                  <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                      <match url="(.*)" />
                      <conditions logicalGrouping="MatchAll">
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                      </conditions>
                      <action type="Rewrite" url="/" />
                  </rule>
                <rule name="HTTPS" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)$" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{R:1}"  redirectType="Permanent" />
                </rule>
              </rules>
          </rewrite>
          <httpErrors>
              <remove statusCode="404" subStatusCode="-1" />
              <remove statusCode="500" subStatusCode="-1" />
          </httpErrors>
          <modules runAllManagedModulesForAllRequests="true" />
      </system.webServer>
  </configuration>